
/* 文字好看 */                   

/* 
"Noto Sans TC", sans-serif    
"Josefin Sans", sans-serif 
'Open Sans', sans-serif 
*/
 
/* 數字好看 */

/*
font-family: 'Abril Fatface', cursive;  英文也好看
font-family: 'Dosis', sans-serif;
font-family: 'Exo', sans-serif;
*/



.英文-白色{
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.英文{
  font-family: "Josefin Sans", sans-serif;
}

.title{
  font-family: "Josefin Sans", sans-serif;
  font-weight:bolder;
  letter-spacing:-1px;
  font-size:1.8em;
  color: white
}

.小標題{
  font-family: "Josefin Sans", sans-serif;
  font-style:italic;
  font-size:0.7em;
  letter-spacing:-0.1px;
  color: rgb(235, 235, 235);
}

p{padding:10px}


.中文 {
  font-family: 'Noto Sans TC', sans-serif;
}
.中文-白色 {
  font-family: 'Noto Sans TC', sans-serif;
  color: white;
  font-weight: 400;
}

/* 區塊大標題 */
.title-box{
  width: 100%;
  text-align: center;
}
.title-number{
  font-family: 'Abril Fatface', cursive;
  color: #404040;
  top: -1rem;
  left: 0;
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 0.6;
  z-index: -1;
  line-height: 1;
}

.title-text{
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  color: #7b7b7b;
}

/* 小塊空白 */

.佔位空白區{
  height: 100px;
  width: 100%;
}

.灰色分隔區 {
  height: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}




/* masthead 首頁 */
.mashead {
height: 100vh;
width: 100%;
background-attachment: fixed;
background-image:
linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),
url('https://upload.cc/i1/2021/08/05/V9vzmj.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
box-shadow: inset 0 0 60px 3rem rgb(0, 0, 0,1);
}

.btn-outline {
  width: 140px;
  /* font-family: "Raleway", sans-serif; */
  background-color: transparent;
  /* padding: 12px 22px; */
  margin: 10px 20px;
  /* color: inherit; */
  transition: all 0.5s;
  border: 1.5px solid #fff;
  /* border-radius: 24px; */
  outline: none;
}


/* 01繪畫文字框 */
.box{height: 85px;}




/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 500;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}




/* 淡灰色背景數字 */
.number-block {
  position: relative;
}
.number-block-count {
  position: absolute;
  color: #404040;
  top: -1rem;
  left: 0;
  font-size: 6rem;
  font-weight: 700;
  opacity: 0.2;
  z-index: -1;
  line-height: 1;
}




/* footer */
.site-footer
{
  background-color:#26272b;
  padding:10px 0 10px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}


/* 白色分隔線 */
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
/* 白色分隔線(end) */

/* 文字 */
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
/* 文字(end) */





.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color:rgb(50,50,50,0.7 );
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 20px 0px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
  background-color: rgba(66, 66, 66, 0.5);
  padding: 0px 14px;
  border-radius: 5px;
}

#main {
  transition: margin-right 0.5s;
  padding: 16px;
  float: right;
}

#main span {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
  border-radius: 5px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}